REACT_APP_BACKEND_API_ADDRESS=/api
REACT_APP_URL_ADDRESS=localhost:3001

REACT_APP_DOMAIN_ADDRESS=localhost

REACT_APP_ENABLE_CLIENT_PREDICTION=true

REACT_APP_ENABLE_PLAYER_INTERPOLATION=true

REACT_APP_ENABLE_BALL_INTERPOLATION=true